
.impowerBox .qrcode {
  width: 250px;
  height: 250px;
}

.impowerBox .title {
  display: none;
}

.impowerBox .info {
  display: none;
}

.impowerBox .status_icon {
  display: none;
}

.impowerBox .status {
  display: none;
}
